<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl20191">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl20191" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019-01-01</td>
            <td><a href="http://www.regobs.no/registration/173480" target="_blank">173480</a></td>
            <td>Voss</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-02</td>
            <td><a href="http://www.regobs.no/registration/173661" target="_blank">173661</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/173621" target="_blank">173621</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-03</td>
            <td><a href="http://www.regobs.no/registration/173856" target="_blank">173856</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-04</td>
            <td><a href="http://www.regobs.no/registration/174014" target="_blank">174014</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/174039" target="_blank">174039</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/173957" target="_blank">173957</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-01-05</td>
            <td><a href="http://www.regobs.no/registration/174176" target="_blank">174176</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/174099" target="_blank">174099</a></td>
            <td>Indre Sogn</td>
            <td>Notater</td>
        </tr>
        <tr>
            <td>2019-01-06</td>
            <td><a href="http://www.regobs.no/registration/174335" target="_blank">174335</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/174270" target="_blank">174270</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-01-07</td>
            <td><a href="http://www.regobs.no/registration/174475" target="_blank">174475</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/174405" target="_blank">174405</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-08</td>
            <td><a href="http://www.regobs.no/registration/174629" target="_blank">174629</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-10</td>
            <td><a href="http://www.regobs.no/registration/174993" target="_blank">174993</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/174920" target="_blank">174920</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-11</td>
            <td><a href="http://www.regobs.no/registration/175096" target="_blank">175096</a></td>
            <td>Hallingdal</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-12</td>
            <td><a href="http://www.regobs.no/registration/175259" target="_blank">175259</a></td>
            <td>Hallingdal</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-01-13</td>
            <td><a href="http://www.regobs.no/registration/175429" target="_blank">175429</a></td>
            <td>Hallingdal</td>
            <td>Faretegn, Faretegn</td>
        </tr>
        <tr>
            <td>2019-01-14</td>
            <td><a href="http://www.regobs.no/registration/175682" target="_blank">175682</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-15</td>
            <td><a href="http://www.regobs.no/registration/175828" target="_blank">175828</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/175808" target="_blank">175808</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/175795" target="_blank">175795</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-16</td>
            <td><a href="http://www.regobs.no/registration/176008" target="_blank">176008</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/175940" target="_blank">175940</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/175920" target="_blank">175920</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-17</td>
            <td><a href="http://www.regobs.no/registration/176241" target="_blank">176241</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Snødekke, Skredfarevurdering</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/176117" target="_blank">176117</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-22</td>
            <td><a href="http://www.regobs.no/registration/177083" target="_blank">177083</a></td>
            <td>Voss</td>
            <td>Faretegn, Vær, Snødekke, Tester, Skredfarevurdering</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/177029" target="_blank">177029</a></td>
            <td>Voss</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-23</td>
            <td><a href="http://www.regobs.no/registration/177175" target="_blank">177175</a></td>
            <td>Voss</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-24</td>
            <td><a href="http://www.regobs.no/registration/177373" target="_blank">177373</a></td>
            <td>Voss</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-26</td>
            <td><a href="http://www.regobs.no/registration/177816" target="_blank">177816</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-27</td>
            <td><a href="http://www.regobs.no/registration/177986" target="_blank">177986</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-28</td>
            <td><a href="http://www.regobs.no/registration/178129" target="_blank">178129</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/178090" target="_blank">178090</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-29</td>
            <td><a href="http://www.regobs.no/registration/178265" target="_blank">178265</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/178222" target="_blank">178222</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-01-30</td>
            <td><a href="http://www.regobs.no/registration/178397" target="_blank">178397</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-01-31</td>
            <td><a href="http://www.regobs.no/registration/178534" target="_blank">178534</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
     </tbody>
</table></div>