<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl20193">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl20193" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019-03-01</td>
            <td><a href="http://www.regobs.no/registration/183686" target="_blank">183686</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/183555" target="_blank">183555</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-02</td>
            <td><a href="http://www.regobs.no/registration/183833" target="_blank">183833</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/183720" target="_blank">183720</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-03</td>
            <td><a href="http://www.regobs.no/registration/183952" target="_blank">183952</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/183882" target="_blank">183882</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-04</td>
            <td><a href="http://www.regobs.no/registration/184154" target="_blank">184154</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-03-05</td>
            <td><a href="http://www.regobs.no/registration/184329" target="_blank">184329</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-03-06</td>
            <td><a href="http://www.regobs.no/registration/184521" target="_blank">184521</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/184436" target="_blank">184436</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-07</td>
            <td><a href="http://www.regobs.no/registration/184644" target="_blank">184644</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-08</td>
            <td><a href="http://www.regobs.no/registration/185005" target="_blank">185005</a></td>
            <td>Voss</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-03-09</td>
            <td><a href="http://www.regobs.no/registration/185220" target="_blank">185220</a></td>
            <td>Voss</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-03-10</td>
            <td><a href="http://www.regobs.no/registration/185441" target="_blank">185441</a></td>
            <td>Voss</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/185344" target="_blank">185344</a></td>
            <td>Voss</td>
            <td>Skredaktivitet</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/185278" target="_blank">185278</a></td>
            <td>Voss</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-11</td>
            <td><a href="http://www.regobs.no/registration/185647" target="_blank">185647</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/185595" target="_blank">185595</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-03-12</td>
            <td><a href="http://www.regobs.no/registration/185843" target="_blank">185843</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-03-13</td>
            <td><a href="http://www.regobs.no/registration/186028" target="_blank">186028</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/185910" target="_blank">185910</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-15</td>
            <td><a href="http://www.regobs.no/registration/186380" target="_blank">186380</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/186328" target="_blank">186328</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-16</td>
            <td><a href="http://www.regobs.no/registration/186503" target="_blank">186503</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-03-17</td>
            <td><a href="http://www.regobs.no/registration/186752" target="_blank">186752</a></td>
            <td>Oppland sør</td>
            <td>Faretegn, Faretegn, Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-18</td>
            <td><a href="http://www.regobs.no/registration/186946" target="_blank">186946</a></td>
            <td>Oppland sør</td>
            <td>Notater, Faretegn, Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-03-20</td>
            <td><a href="http://www.regobs.no/registration/187308" target="_blank">187308</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær</td>
        </tr>
        <tr>
            <td>2019-03-21</td>
            <td><a href="http://www.regobs.no/registration/187499" target="_blank">187499</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/187478" target="_blank">187478</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/187449" target="_blank">187449</a></td>
            <td>Indre Sogn</td>
            <td>Skredaktivitet</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/187391" target="_blank">187391</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-03-22</td>
            <td><a href="http://www.regobs.no/registration/187634" target="_blank">187634</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Tester, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/187552" target="_blank">187552</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-23</td>
            <td><a href="http://www.regobs.no/registration/187817" target="_blank">187817</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/187723" target="_blank">187723</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-03-24</td>
            <td><a href="http://www.regobs.no/registration/187932" target="_blank">187932</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/187922" target="_blank">187922</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-25</td>
            <td><a href="http://www.regobs.no/registration/188137" target="_blank">188137</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/188129" target="_blank">188129</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/188034" target="_blank">188034</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Skredaktivitet, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-03-26</td>
            <td><a href="http://www.regobs.no/registration/188310" target="_blank">188310</a></td>
            <td>Jotunheimen</td>
            <td>Vær, Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/188299" target="_blank">188299</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/188272" target="_blank">188272</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-03-28</td>
            <td><a href="http://www.regobs.no/registration/188670" target="_blank">188670</a></td>
            <td>Jotunheimen</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-03-29</td>
            <td><a href="http://www.regobs.no/registration/188866" target="_blank">188866</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Vær, Snødekke, Skredaktivitet</td>
        </tr>
     </tbody>
</table></div>