<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl20194">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl20194" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019-04-01</td>
            <td><a href="http://www.regobs.no/registration/189399" target="_blank">189399</a></td>
            <td>Sør-Troms</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/189337" target="_blank">189337</a></td>
            <td>Sør-Troms</td>
            <td>Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-04-02</td>
            <td><a href="http://www.regobs.no/registration/189517" target="_blank">189517</a></td>
            <td>Sør-Troms</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-04-03</td>
            <td><a href="http://www.regobs.no/registration/189679" target="_blank">189679</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/189638" target="_blank">189638</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/189611" target="_blank">189611</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-04-04</td>
            <td><a href="http://www.regobs.no/registration/189837" target="_blank">189837</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-04-05</td>
            <td><a href="http://www.regobs.no/registration/190023" target="_blank">190023</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Faretegn, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/189895" target="_blank">189895</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-04-07</td>
            <td><a href="http://www.regobs.no/registration/190243" target="_blank">190243</a></td>
            <td>Tromsø</td>
            <td>Faretegn, Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-04-08</td>
            <td><a href="http://www.regobs.no/registration/190372" target="_blank">190372</a></td>
            <td>Sør-Troms</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-04-09</td>
            <td><a href="http://www.regobs.no/registration/190494" target="_blank">190494</a></td>
            <td>Sør-Troms</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-04-10</td>
            <td><a href="http://www.regobs.no/registration/190668" target="_blank">190668</a></td>
            <td>Lofoten og Vesterålen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-04-12</td>
            <td><a href="http://www.regobs.no/registration/190988" target="_blank">190988</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-04-14</td>
            <td><a href="http://www.regobs.no/registration/191201" target="_blank">191201</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-04-15</td>
            <td><a href="http://www.regobs.no/registration/191348" target="_blank">191348</a></td>
            <td>Indre Fjordane</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/191301" target="_blank">191301</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-04-18</td>
            <td><a href="http://www.regobs.no/registration/191768" target="_blank">191768</a></td>
            <td>Jotunheimen</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/191766" target="_blank">191766</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-04-19</td>
            <td><a href="http://www.regobs.no/registration/191901" target="_blank">191901</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-04-20</td>
            <td><a href="http://www.regobs.no/registration/192046" target="_blank">192046</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-04-21</td>
            <td><a href="http://www.regobs.no/registration/192161" target="_blank">192161</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-04-22</td>
            <td><a href="http://www.regobs.no/registration/192281" target="_blank">192281</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192283" target="_blank">192283</a></td>
            <td>Jotunheimen</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192284" target="_blank">192284</a></td>
            <td>Jotunheimen</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192285" target="_blank">192285</a></td>
            <td>Jotunheimen</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192229" target="_blank">192229</a></td>
            <td>Jotunheimen</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-04-23</td>
            <td><a href="http://www.regobs.no/registration/192346" target="_blank">192346</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-04-24</td>
            <td><a href="http://www.regobs.no/registration/192568" target="_blank">192568</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192522" target="_blank">192522</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-04-25</td>
            <td><a href="http://www.regobs.no/registration/192721" target="_blank">192721</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192726" target="_blank">192726</a></td>
            <td>Jotunheimen</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td>2019-04-26</td>
            <td><a href="http://www.regobs.no/registration/192849" target="_blank">192849</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192830" target="_blank">192830</a></td>
            <td>Jotunheimen</td>
            <td>Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/192769" target="_blank">192769</a></td>
            <td>Jotunheimen</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2019-04-27</td>
            <td><a href="http://www.regobs.no/registration/192969" target="_blank">192969</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-04-28</td>
            <td><a href="http://www.regobs.no/registration/193097" target="_blank">193097</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/193098" target="_blank">193098</a></td>
            <td>Indre Sogn</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/193099" target="_blank">193099</a></td>
            <td>Indre Sogn</td>
            <td>Tester, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/193047" target="_blank">193047</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-04-29</td>
            <td><a href="http://www.regobs.no/registration/193215" target="_blank">193215</a></td>
            <td>Indre Sogn</td>
            <td>Skredaktivitet</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/193193" target="_blank">193193</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-04-30</td>
            <td><a href="http://www.regobs.no/registration/193302" target="_blank">193302</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
     </tbody>
</table></div>