<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl20192">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl20192" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019-02-01</td>
            <td><a href="http://www.regobs.no/registration/178731" target="_blank">178731</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/178658" target="_blank">178658</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-02</td>
            <td><a href="http://www.regobs.no/registration/178879" target="_blank">178879</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-02-04</td>
            <td><a href="http://www.regobs.no/registration/179156" target="_blank">179156</a></td>
            <td>Hallingdal</td>
            <td>Vær, Snødekke, Tester, Skredfarevurdering, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/179134" target="_blank">179134</a></td>
            <td>Hallingdal</td>
            <td>Faretegn</td>
        </tr>
        <tr>
            <td>2019-02-05</td>
            <td><a href="http://www.regobs.no/registration/179280" target="_blank">179280</a></td>
            <td>Hallingdal</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-02-06</td>
            <td><a href="http://www.regobs.no/registration/179408" target="_blank">179408</a></td>
            <td>Hallingdal</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-07</td>
            <td><a href="http://www.regobs.no/registration/179641" target="_blank">179641</a></td>
            <td>Hallingdal</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/179645" target="_blank">179645</a></td>
            <td>Hallingdal</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td>2019-02-08</td>
            <td><a href="http://www.regobs.no/registration/179815" target="_blank">179815</a></td>
            <td>Oppland sør</td>
            <td>Faretegn</td>
        </tr>
        <tr>
            <td>2019-02-10</td>
            <td><a href="http://www.regobs.no/registration/180181" target="_blank">180181</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/180096" target="_blank">180096</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Skredaktivitet, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-02-11</td>
            <td><a href="http://www.regobs.no/registration/180355" target="_blank">180355</a></td>
            <td>Voss</td>
            <td>Faretegn, Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/180312" target="_blank">180312</a></td>
            <td>Voss</td>
            <td>Notater, Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-12</td>
            <td><a href="http://www.regobs.no/registration/180586" target="_blank">180586</a></td>
            <td>Voss</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/180503" target="_blank">180503</a></td>
            <td>Voss</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-13</td>
            <td><a href="http://www.regobs.no/registration/180802" target="_blank">180802</a></td>
            <td>Indre Sogn</td>
            <td>Notater, Faretegn, Faretegn, Vær, Snødekke, Tester, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/180745" target="_blank">180745</a></td>
            <td>Indre Sogn</td>
            <td>Skredaktivitet</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/180726" target="_blank">180726</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-02-14</td>
            <td><a href="http://www.regobs.no/registration/181017" target="_blank">181017</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-02-15</td>
            <td><a href="http://www.regobs.no/registration/181284" target="_blank">181284</a></td>
            <td>Hardanger</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/181186" target="_blank">181186</a></td>
            <td>Hardanger</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/181128" target="_blank">181128</a></td>
            <td>Voss</td>
            <td>Ulykke/hendelse, Skredhendelse</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/181087" target="_blank">181087</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-16</td>
            <td><a href="http://www.regobs.no/registration/181438" target="_blank">181438</a></td>
            <td>Hardanger</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-02-17</td>
            <td><a href="http://www.regobs.no/registration/181582" target="_blank">181582</a></td>
            <td>Hardanger</td>
            <td>Vær, Snødekke, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-02-18</td>
            <td><a href="http://www.regobs.no/registration/181795" target="_blank">181795</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-02-19</td>
            <td><a href="http://www.regobs.no/registration/181991" target="_blank">181991</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/181998" target="_blank">181998</a></td>
            <td>Indre Sogn</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td>2019-02-20</td>
            <td><a href="http://www.regobs.no/registration/182201" target="_blank">182201</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/182148" target="_blank">182148</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Faretegn, Vær, Snødekke, Skredhendelse, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/182084" target="_blank">182084</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/182060" target="_blank">182060</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-21</td>
            <td><a href="http://www.regobs.no/registration/182386" target="_blank">182386</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/182362" target="_blank">182362</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2019-02-22</td>
            <td><a href="http://www.regobs.no/registration/182510" target="_blank">182510</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-02-23</td>
            <td><a href="http://www.regobs.no/registration/182709" target="_blank">182709</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-02-24</td>
            <td><a href="http://www.regobs.no/registration/182833" target="_blank">182833</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-02-27</td>
            <td><a href="http://www.regobs.no/registration/183325" target="_blank">183325</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/183331" target="_blank">183331</a></td>
            <td>Indre Sogn</td>
            <td>Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/183256" target="_blank">183256</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-02-28</td>
            <td><a href="http://www.regobs.no/registration/183514" target="_blank">183514</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/183392" target="_blank">183392</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
     </tbody>
</table></div>