<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl20193">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl20193" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019-03-05</td>
            <td><a href="http://www.regobs.no/registration/184308" target="_blank">184308</a></td>
            <td>Voss</td>
            <td>Faretegn, Snødekke, Tester, Skredfarevurdering, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-03-11</td>
            <td><a href="http://www.regobs.no/registration/185615" target="_blank">185615</a></td>
            <td>Romsdal</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Tester, Skredaktivitet, Skredproblem</td>
        </tr>
        <tr>
            <td>2019-03-12</td>
            <td><a href="http://www.regobs.no/registration/185767" target="_blank">185767</a></td>
            <td>Romsdal</td>
            <td>Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/185686" target="_blank">185686</a></td>
            <td>Romsdal</td>
            <td>Faretegn</td>
        </tr>
        <tr>
            <td>2019-03-19</td>
            <td><a href="http://www.regobs.no/registration/187115" target="_blank">187115</a></td>
            <td>Jotunheimen</td>
            <td>Faretegn, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-03-21</td>
            <td><a href="http://www.regobs.no/registration/187474" target="_blank">187474</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Vær, Snødekke, Skredaktivitet, Skredfarevurdering, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-03-22</td>
            <td><a href="http://www.regobs.no/registration/187630" target="_blank">187630</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-03-27</td>
            <td><a href="http://www.regobs.no/registration/188491" target="_blank">188491</a></td>
            <td>Indre Sogn</td>
            <td>Skredhendelse</td>
        </tr>
     </tbody>
</table></div>