<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl20192">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl20192" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019-02-07</td>
            <td><a href="http://www.regobs.no/registration/179643" target="_blank">179643</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/179600" target="_blank">179600</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn, Faretegn, Vær, Snødekke, Tester, Tester, Skredaktivitet, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/179574" target="_blank">179574</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/179570" target="_blank">179570</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/179559" target="_blank">179559</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Faretegn</td>
        </tr>
        <tr>
            <td>2019-02-12</td>
            <td><a href="http://www.regobs.no/registration/180513" target="_blank">180513</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Tester, Skredaktivitet</td>
        </tr>
        <tr>
            <td>2019-02-13</td>
            <td><a href="http://www.regobs.no/registration/180762" target="_blank">180762</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Tester, Skredfarevurdering</td>
        </tr>
        <tr>
            <td>2019-02-15</td>
            <td><a href="http://www.regobs.no/registration/181218" target="_blank">181218</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Snødekke, Tester, Skredaktivitet, Skredfarevurdering, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-02-20</td>
            <td><a href="http://www.regobs.no/registration/182119" target="_blank">182119</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Tester, Skredaktivitet, Skredfarevurdering, Snøprofil</td>
        </tr>
        <tr>
            <td>2019-02-27</td>
            <td><a href="http://www.regobs.no/registration/183307" target="_blank">183307</a></td>
            <td>Tromsø</td>
            <td>Faretegn, Tester, Skredaktivitet, Snøprofil</td>
        </tr>
     </tbody>
</table></div>