<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tbl201812">Tabell med observasjoner og lenker til regObs</button>
<div id="tbl201812" class="collapse">
</br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Registrering</th>
            <th>Region</th>
            <th>Observasjon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2018-12-02</td>
            <td><a href="http://www.regobs.no/registration/169810" target="_blank">169810</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/169827" target="_blank">169827</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/169866" target="_blank">169866</a></td>
            <td>Indre Sogn</td>
            <td>Skredfarevurdering, Vær, Faretegn, Snødekke, Snøprofil (2012), Snøprofil (2012), Snøprofil (2012), Skredproblem, Skredaktivitet, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Snøprofil (2012), Snøprofil (2012), Snøprofil (2012), Bilde</td>
        </tr>
        <tr>
            <td>2018-12-03</td>
            <td><a href="http://www.regobs.no/registration/169968" target="_blank">169968</a></td>
            <td>Indre Sogn</td>
            <td>Vær</td>
        </tr>
        <tr>
            <td>2018-12-04</td>
            <td><a href="http://www.regobs.no/registration/170020" target="_blank">170020</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/170034" target="_blank">170034</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/170071" target="_blank">170071</a></td>
            <td>Indre Sogn</td>
            <td>Skredfarevurdering, Skredproblem, Snødekke, Snøprofil (2012), Faretegn, Faretegn, Skredaktivitet, Vær, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Snøprofil (2012)</td>
        </tr>
        <tr>
            <td>2018-12-06</td>
            <td><a href="http://www.regobs.no/registration/170339" target="_blank">170339</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Snødekke, Skredproblem, Snøprofil (2012), Snøprofil (2012), Skredfarevurdering, Skredaktivitet, Vær, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Snøprofil (2012), Snøprofil (2012)</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/170347" target="_blank">170347</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-07</td>
            <td><a href="http://www.regobs.no/registration/170401" target="_blank">170401</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/170429" target="_blank">170429</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/170447" target="_blank">170447</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Snødekke, Skredproblem, Snøprofil (2012), Skredfarevurdering, Skredaktivitet, Vær, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Snøprofil (2012)</td>
        </tr>
        <tr>
            <td>2018-12-08</td>
            <td><a href="http://www.regobs.no/registration/170547" target="_blank">170547</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Skredfarevurdering, Snødekke, Skredproblem, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-09</td>
            <td><a href="http://www.regobs.no/registration/170665" target="_blank">170665</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke</td>
        </tr>
        <tr>
            <td>2018-12-11</td>
            <td><a href="http://www.regobs.no/registration/170899" target="_blank">170899</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/170943" target="_blank">170943</a></td>
            <td>Indre Sogn</td>
            <td>Skredfarevurdering, Snødekke, Vær, Snøprofil (2012), Faretegn, Skredaktivitet, Skredproblem, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Snøprofil (2012), Bilde</td>
        </tr>
        <tr>
            <td>2018-12-12</td>
            <td><a href="http://www.regobs.no/registration/171133" target="_blank">171133</a></td>
            <td>Indre Sogn</td>
            <td>Stabilitetstest, Skredfarevurdering, Snødekke, Skredproblem, Faretegn, Vær, Skredaktivitet, Snøprofil, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-13</td>
            <td><a href="http://www.regobs.no/registration/171251" target="_blank">171251</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-14</td>
            <td><a href="http://www.regobs.no/registration/171377" target="_blank">171377</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/171412" target="_blank">171412</a></td>
            <td>Indre Sogn</td>
            <td>Skredproblem, Skredfarevurdering, Vær, Faretegn, Faretegn, Skredaktivitet, Snødekke, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-15</td>
            <td><a href="http://www.regobs.no/registration/171469" target="_blank">171469</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Faretegn, Snødekke, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/171495" target="_blank">171495</a></td>
            <td>Indre Sogn</td>
            <td>Skredproblem, Skredproblem, Skredfarevurdering, Vær, Faretegn, Skredaktivitet, Snødekke, Snøprofil, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/171515" target="_blank">171515</a></td>
            <td>Indre Sogn</td>
            <td>Snødekke, Vær, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-16</td>
            <td><a href="http://www.regobs.no/registration/171591" target="_blank">171591</a></td>
            <td>Hallingdal</td>
            <td>Snødekke, Vær, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/171617" target="_blank">171617</a></td>
            <td>Hallingdal</td>
            <td>Skredproblem, Skredfarevurdering, Faretegn, Faretegn, Vær, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-17</td>
            <td><a href="http://www.regobs.no/registration/171762" target="_blank">171762</a></td>
            <td>Hallingdal</td>
            <td>Skredfarevurdering, Vær, Faretegn, Stabilitetstest, Snødekke, Skredproblem, Skredaktivitet, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-19</td>
            <td><a href="http://www.regobs.no/registration/171975" target="_blank">171975</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/172030" target="_blank">172030</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Faretegn, Faretegn, Faretegn, Skredfarevurdering, Snøprofil (2012), Snøprofil (2012), Skredproblem, Skredproblem, Snøprofil, Skredaktivitet, Snødekke, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Snøprofil (2012), Snøprofil (2012), Bilde</td>
        </tr>
        <tr>
            <td>2018-12-20</td>
            <td><a href="http://www.regobs.no/registration/172141" target="_blank">172141</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Stabilitetstest, Faretegn, Faretegn, Skredfarevurdering, Skredproblem, Skredproblem, Snøprofil, Skredaktivitet, Snødekke, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-21</td>
            <td><a href="http://www.regobs.no/registration/172180" target="_blank">172180</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/172236" target="_blank">172236</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Faretegn, Skredfarevurdering, Skredproblem, Skredproblem, Skredaktivitet, Snødekke, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-22</td>
            <td><a href="http://www.regobs.no/registration/172302" target="_blank">172302</a></td>
            <td>Indre Sogn</td>
            <td>Faretegn, Vær, Snødekke, Skredfarevurdering, Skredproblem, Skredaktivitet, Snøprofil, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/172321" target="_blank">172321</a></td>
            <td>Indre Sogn</td>
            <td>Vær, Snødekke, Bilde, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-30</td>
            <td><a href="http://www.regobs.no/registration/173231" target="_blank">173231</a></td>
            <td>Hallingdal</td>
            <td>Snødekke, Vær, Skredaktivitet, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/173269" target="_blank">173269</a></td>
            <td>Voss</td>
            <td>Skredfarevurdering, Skredproblem, Snødekke, Vær, Bilde</td>
        </tr>
        <tr>
            <td>2018-12-31</td>
            <td><a href="http://www.regobs.no/registration/173385" target="_blank">173385</a></td>
            <td>Voss</td>
            <td>Vær, Skredfarevurdering, Snødekke, Skredproblem, Skredproblem, Skredaktivitet, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde, Bilde</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.regobs.no/registration/173390" target="_blank">173390</a></td>
            <td>Voss</td>
            <td>Vær</td>
        </tr>
     </tbody>
</table></div>